<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card p-4">
      <h3>Entrar</h3>
      <form method="post" action="/login">
        <div class="mb-3">
          <label class="form-label">Email</label>
          <input name="email" class="form-control" placeholder="email@example.com" />
        </div>
        <div class="mb-3">
          <label class="form-label">Senha</label>
          <input name="senha" type="password" class="form-control" placeholder="Senha" />
        </div>
        <button class="btn btn-primary">Entrar</button>
      </form>
      <hr/>
    </div>
  </div>
</div>