<h4>Nova Reserva</h4>
<form method="post" action="/reservas/novo">
  <div class="mb-3">
    <label>Espaço</label>
    <select name="espacoId" class="form-control">
      <% espacos.forEach(e => { %>
        <option value="<%= e.id %>"><%= e.nome %> - <%= e.tipo %></option>
      <% }) %>
    </select>
  </div>
  <div class="mb-3">
    <label>Data</label>
    <input type="date" name="dataReserva" class="form-control" />
  </div>
  <div class="mb-3">
    <label>Hora Início</label>
    <input type="time" name="horaInicio" class="form-control" />
  </div>
  <div class="mb-3">
    <label>Hora Fim</label>
    <input type="time" name="horaFim" class="form-control" />
  </div>
  <button class="btn btn-primary">Reservar</button>
</form>
